/* body */
#one .card-body p{
    color: #7e91a0;
}

#one .card-body:hover p{
    color: #ffffff;
}

#one .card-body i{
    color:#009ec5;
    font-size:40px;
}

#one .card-body:hover i{
    color:#ffffff;
}

#one .card-body:hover{
    background-color: #009ec5;
    border-radius: 10px;
}
/* doctor */
#team{
    display: flex;
    justify-content: center;
    align-items: center;
}
#con{
    position: relative;
    width:  1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
#con .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
#con .card:hover{
    height: 420px;

}
#con .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);

}
#con .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
#con .card .content{
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#con .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}
/* contact */

#first_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#second_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#three_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#four_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#five_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
}
/* ////////////// team////////////// */

.img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
    margin-top: 130px;
}
.img-text h2{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.img-text p{
    font-size: 14px;
}
.single-box{
    position: relative;
    margin-bottom: 30px;
}
.img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 150px;
    border-radius: 50%;
}
.img-area img{
    width: 100%;
}
.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -70px;
}
.carousel-indicators li{
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.carousel-indicators .active{
    background: #fff;
}

@media (max-width : 992px) {
    .back {
        background-size: 100% 100% !important;
        background-repeat: no-repeat;
        height: 100vh;
    }
}


@media (max-width : 992px) {
    #post_1{
        display: block !important;
    }
    #post_2{
        display: none !important;
    }
}