/* body */
#one .card-body p{
    color: #7e91a0;
}

#one .card-body:hover p{
    color: #ffffff;
}

#one .card-body i{
    color:#009ec5;
    font-size:40px;
}

#one .card-body:hover i{
    color:#ffffff;
}

#one .card-body:hover{
    background-color: #009ec5;
    border-radius: 10px;
}
/* doctor */
#team{
    display: flex;
    justify-content: center;
    align-items: center;
}
#con{
    position: relative;
    width:  1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
#con .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
#con .card:hover{
    height: 420px;

}
#con .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);

}
#con .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
#con .card .content{
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
#con .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}
/* contact */

#first_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#second_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#three_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#four_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
    font-size:13px;
    padding: 10px 12px;
}
#five_input{
    background:transparent !important;
    border:none;
    border-bottom: 1px solid #fff;
}
/* 
#karima{
    background-color: black !important;
    box-shadow: 10px 10px 20px white !important;
    opacity: 0.5 !important;
    position: fixed;
    min-width: 1403px !important;
} */
/* //////////carousl/////////// */


@media (max-width : 992px) {
    .back {
        background-size: 100% 100% !important;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

